<!DOCTYPE html>
@model Order
@{
	int i = 0;
}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bermiz</title>
	<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

	<link rel="icon" href="~/images/favicon/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Elsie&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Elsie&family=Lexend:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/all.min.css">
	<link rel="stylesheet" href="~/css/slick.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/aos.css">
	<link rel="stylesheet" href="~/css/animate.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/media-query.css">
	<link href="~/css/ratings.css" rel="stylesheet" />
</head>
<body>
	<div class="site_content">
		<!-- Preloader Start -->
		<div id="overlayer">
			<div id="spinner">
				<svg class="spinner-webkit" xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 54 54">
					<path d="M28.14,44a3.26,3.26,0,0,1,.53,1.63l.3,4.93a1.42,1.42,0,0,0,1.66,1.31A25.85,25.85,0,0,0,52.18,26.38v0A25.84,25.84,0,1,0,22.05,51.83a1.43,1.43,0,0,0,1.66-1.31L24,45.6a3.74,3.74,0,0,1,1.7-2.84l6.52-5.18a7.06,7.06,0,0,0,2.61-5.71L33.43,9.11A.16.16,0,0,0,33.26,9L32.18,9A1.4,1.4,0,0,0,30.9,10.4v15a1.46,1.46,0,0,1-1.46,1.46h0A1.46,1.46,0,0,1,28,25.45V10.79a1.65,1.65,0,0,0-1.65-1.65h0a1.65,1.65,0,0,0-1.65,1.65V25.45a1.46,1.46,0,0,1-1.46,1.46h0a1.46,1.46,0,0,1-1.46-1.46v-15A1.4,1.4,0,0,0,20.5,9L19.42,9a.16.16,0,0,0-.17.15L17.84,31.87a7.06,7.06,0,0,0,2.61,5.71l5.89,4.68"></path>
				</svg>
				<div class="spinner-ie"></div>
			</div>
		</div>
		<!-- Preloader End -->
		<!-- Header Section End -->
		<!-- Hero Section Start -->
		<section id="single-shop-section">
			<div class="single-shop-section-img">
				<div class="menupage-1-overlay"></div>
				<div class="menupage-1-conten">
					<h1 class="blog1-hero-txt1 wow fadeInDown" data-wow-duration="1s" data-wow-delay="2.5s">Single Dish</h1>
				</div>
			</div>
			<div class="breadcrumb-section">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">
								<span class="home-icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<mask id="mask0_564_5237" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
											<rect width="24" height="24" fill="white" />
										</mask>
										<g mask="url(#mask0_564_5237)">
											<path d="M9.15722 20.7714V17.7047C9.1572 16.9246 9.79312 16.2908 10.581 16.2856H13.4671C14.2587 16.2856 14.9005 16.9209 14.9005 17.7047V17.7047V20.7809C14.9003 21.4432 15.4343 21.9845 16.103 22H18.0271C19.9451 22 21.5 20.4607 21.5 18.5618V18.5618V9.83784C21.4898 9.09083 21.1355 8.38935 20.538 7.93303L13.9577 2.6853C12.8049 1.77157 11.1662 1.77157 10.0134 2.6853L3.46203 7.94256C2.86226 8.39702 2.50739 9.09967 2.5 9.84736V18.5618C2.5 20.4607 4.05488 22 5.97291 22H7.89696C8.58235 22 9.13797 21.4499 9.13797 20.7714V20.7714" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
										</g>
									</svg>
								</span>Home
							</a>
						</li>
						<li class="breadcrumb-item " aria-current="page">
							<a href="menupage-1.html">Dinner</a>
						</li>
						@* 	<li class="breadcrumb-item active" aria-current="page">Chicken Biryani</li>
						*@
					</ol>
				</div>
			</div>
			<div class="menupage1-boder"></div>
		</section>
		<!-- Hero Section End -->
		<!-- Add To Cart Section Start -->

		<section id="single-shop-deatils-sec">
			<div class="container ptb-100 line">
				<span class="line-3"></span>
				<span class="line-4"></span>
				<span class="line-5"> </span>
				<div class="single-shop-deatils-sec-full">
					<div class="single-shop-left">
						<div class="slider_section">
							<div class="slider_full_section">
								<div class="slider slider-for slider-top">
									<div class="slider_details_sec">
										@if (Model.Image == null)
										{
											<img lass="card-img-top"
												 style="height: 320px"
												 alt="profile picture" class="slider_img img-fluid " src="~/images/rate.jpg" alt="slider_img">
										}
										else
										{
											<img lass="card-img-top"
												 style="height: 200px"
												 alt="profile picture" class="slider_img img-fluid " src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" alt="slider_img">
										}
									</div>

								</div>

							</div>
						</div>

					</div>


					<div class="single-shop-right">
						<form asp-action="Saverate" enctype="multipart/form-data">
							<input id="id" name="Menuid" value="@Model.Menuid" hidden />
							<input id="id" name="id" value="@Model.id" hidden />
							<div class="single-input-form-about-us">
								<div class="rate">
									<input type="radio" id="star5" name="rate5" value="5" />
									<label for="star5" title="text"></label>
									<input type="radio" id="star4" name="rate4" value="4" />
									<label for="star4" title="text"></label>
									<input type="radio" id="star3" name="rate3" value="3" />
									<label for="star3" title="text"></label>
									<input type="radio" id="star2" name="rate2" value="2" />
									<label for="star2" title="text"></label>
									<input type="radio" id="star1" name="rate1" value="1" />
									<label for="star1" title="text"></label>
								</div>
													</div>


							<div class="single-input-form-about-us">
								<input type="text" name="Message" id="Message" placeholder="Description" value="@Model.Description" class="about-us-input-custom" required>
							</div>

							
							<div class="single-input-form-about-us">
								<input type="file" name="postedFile" id="postedFile" placeholder="Upload File" value="@Model.Image" class="about-us-input-custom">
							</div>

							<div class="single-shop-content5">
								<button type="submit" class="btn btn-success">Update</button>
								<a class="btn btn-primary" asp-action="Index">Go Back</a>
							</div>
						</form>
					</div>



				</div>
			</div>
		</section>

		
		<br />

	
		<!--**********************-->
		<!-- Add To Cart Section End -->
		<!-- Deatils  Section Start -->
		<!-- Testimonial Section End -->
		<!-- Footer Section Start -->
		<footer id="menupage-1-footer-sec">
			<div class="container mt-100 line">
				<span class="line-3"></span>
				<span class="line-4"></span>
				<span class="line-5"> </span>
				<div class="home2-footer-sec-full">
					<div class="home2-footer-top">
						<img src="~/images/Homepage1/footer-logo.png" alt="footer-logo">
					</div>
					<div class="home2-footer-bottom">
						<h3 class="d-none">Footer</h3>
						<div class="home2-footer-bottom-full">
							<div class="home2-footer-details">
								<h4 class="home2-footer-txt1">ABOUT BERMIZ</h4>
								<p class="home2-footer-txt2">Vitae neque libero ullamcorper gravida fusce donec feugiat massa dui. Turpis massa et ipsum orci, sem commodo. Sapien hendrerit cursus eros.</p>

							</div>
							<div class="home2-footer-details">
								<h4 class="home2-footer-txt1">NEWSLETTER</h4>
								<p class="home2-footer-txt2">Subscrible & get 10% discount. Get E-mail updates about our latest shop and special offers.</p>

							</div>
							<div class="home2-footer-details">
								<h4 class="home2-footer-txt1">CONTACT US</h4>
								<p class="home2-footer-txt2">
									Bermiz Restaurant & Fine dining
									71 Madison Ave, New York, USA
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
			</div>
		</footer>
		<!-- Footer Section End -->
		<!-- Fixed Search Bar Start -->
		<!-- Fixed Search Bar End -->
		<!--Scroll Top to Bottom Start -->
		<div class="scroll-top" data-scroll="up" style="">
		</div>
		<!--Scroll Top to Bottom  End -->
	</div>
	
	<script src="~/js/jquery-min-3.6.0.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/wow.min.js"></script>
	<script src="~/js/custom.js"></script>
	<script src="~/js/ratingjs.js"></script>
</body>
</html>